# Ignore generated folders for GitHub language stats
allure-report/** linguist-generated
allure-results/** linguist-generated
test-output/** linguist-generated
target/** linguist-generated
log/** linguist-generated
images/** linguist-generated
.idea/** linguist-generated
